{% extends 'code/base.html' %}{% block content %} {% load static %}
<div class="container text-left" style="margin-top: 8rem">
<!-- info section -->
<!-- info title-->
<figure class="text-left">
  <blockquote class="blockquote">
    <h1>Info</h1>
  </blockquote>
</figure>

<!-- info cards-->
  <div class="row row-cols-1 row-cols-md-4 g-1">
    <div class="col border border-light border-1">
      
        {{ profile|safe }}

      </div> 
    </div>
        {{ monthly_graph|safe }}

        {{ weekly_graph|safe }}

    </div>
  </div>
 </div>
</div>

<!-- Lead information -->

<!-- the title of the leads-->
<div class='container'style='margin-top:4rem ;'>
<figure class="text-left">
  <blockquote class="blockquote">
    <h1>Today Leads Info</h1>
  </blockquote>
</figure>
<!-- tasks window -->
<div class="col">
<div class="card m-1" style='width:350px'>
      <div class="card-header">Featured</div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      
      </div>
      <div class="card-footer text-body-secondary">
        <div class="col-sm-auto" style="margin-top: 15px">
          <small class="text-body-secondary m-1" >Last updated 3 mins ago</small>
          <div class="col-sm-auto" style="margin-top: 15px">

          <a href="tasks" class="btn btn-secondary">VIEW</a>

          </div>
      </div>
      </div>
</div>


      <!-- the container end div-->
</div>


      <!--weekly task completion section -->
<div class='container'style='margin-top:4rem'>
  <h3>Weekly Task Completion</h3>
<div class='row'style='margin-bottom:15px'>

<div class='col-sm-auto'>
  <p> 01/10/23</p>
</div><!-- col end div-->

<div class='col'>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 0%">0%</div>
  </div>
  </div>
  <div class='row'style='margin-bottom:15px'>

    <div class='col-sm-auto'>
      <p>   08/10/23</p>
    </div><!-- col end div-->

    <div class='col'>
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 25%">25%</div>
    </div>
    </div>
    <div class='row'style='margin-bottom:15px'>

    <div class='col-sm-auto'>
      <p>   17/10/23</p>
    </div><!-- col end div-->

    <div class='col'>
    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 50%">50%</div>
    </div>
    </div>
    <div class='row'style='margin-bottom:15px'>

      <div class='col-sm-auto'>
        <p>   25/10/23</p>
      </div><!-- col end div-->

      <div class='col'>
      <div class="progress" role="progressbar" aria-label="basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" style="width: 75%">75%</div>
      </div>
      </div>
    </div>

{% endblock content %}
