{% extends 'code/base.html' %} {% block content %}  {% load widget_tweaks %}{% load static %}


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous' referrerpolicy='no-referrer'></script> 



<!-- the html++ bootstrap code here -->
<div class='container position-relative'style='margin-top:4rem '>



<!-- the department tasks section -->
<div class='container'>

<!-- the department tasks -->
<figure class='text-center'>
  <blockquote class='blockquote'>
    <h1>Department Tasks</h1>
  </blockquote>
</figure>


<!-- this is the progress bar -->
<div class='row m-4'>
  <div class='col-sm-auto'>
    <p>Daily Tasks Completion</p>
  </div>


  <div class='col'>
    <div class='progress' role='progressbar' aria-label='Basic example' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>
      <div class='progress-bar' style="width:{{graph_presentation.department_task_graph}}%">{{graph_presentation.department_task_graph}}%</div>
    </div>
  </div>

</div><!-- row end div-->



<!-- this is the tasks card section --> 
<div class='row row-cols-1 row-cols-md-4 g-4'>

  {% for department_task in department_tasks %}
    <div class='col department_task_col'>
      <div class='card m-1'>
        {% if department_task.completed %}
        <div class='card-header text-bg-success'>COMPLETED</div>
        <div class='card-body'>
          <h5 class='card-title'><BOLD class='text-info'>Title: </BOLD>{{department_task.title}}</h5>
          <p class='card-text'><BOLD class='text-info'>Description: </BOLD>{{department_task.description}}</p>
          <p class='card-text'><BOLD class='text-info'>Additional Description: </BOLD>{{department_task.additional_description}}</p>
        </div><!-- end of card-body-->

          <div class='card-footer text-body-secondary'>
            <div class='col-sm-auto' style='margin-top: 15px'>
              <small class='text-body-secondary m-1' >{{department_task.created_at}}</small>
              <div class='col-sm-auto' style='margin-top: 15px'>


                <button  name='task_on_progress_task' class='btn btn-primary department_task_on_progress_button' member_id='{{department_task.id}}' id='{{department_task.id}}'>On Progress</button>
              {% else %}
              <div class='card-header'>On progress</div>
              <div class='card-body'>
                <h5 class='card-title'><BOLD class='text-info'>Title: </BOLD>{{department_task.title}}</h5>
                <p class='card-text'><BOLD class='text-info'>Description: </BOLD>{{department_task.description}}</p>
                <p class='card-text'><BOLD class='text-info'>Additional Description: </BOLD>{{department_task.additional_description}}</p>
              </div><!-- end of card-body-->
      
                <div class='card-footer text-body-secondary'>
                  <div class='col-sm-auto' style='margin-top: 15px'>
                    <small class='text-body-secondary m-1' >{{department_task.created_at}}</small>
                    <div class='col-sm-auto' style='margin-top: 15px'>
      
      
                <button  name='complete_task_form' class='btn btn-primary department_task_complete_button' member_id='{{department_task.id}}' id='{{department_task.id}}'>Complete</button>
              {% endif %}
              <button type='submit'  name='task_delete' class='btn btn-danger department_task_delete_button' member_id='{{department_task.id}}' id='{{department_task.id}}'>Delete</button>

              </div>
            </div>
          </div>

      </div>
    </div>
  {% endfor %}

    </div><!-- end of row div-->
    <div class="container text-center mt-3 mb-5">
  <button class="btn btn-secondary load_more_department_task"  id="">Load More</button>
</div>

  </div><!-- the department tasks section container END DIV-->
</div><!-- end div of class='container position-relative' -->



<!-- the card group html-->

<!-- the TASKS title -->
<div class='container'style='margin-top:4rem ;'>
<figure class='text-center'>
  <blockquote class='blockquote'>
    <h1>Tasks</h1>
  </blockquote>
</figure>


<!-- this is the progress bar -->
<div class='row m-4'>
  <div class='col-sm-auto'>
    <p >Daily Tasks Completion</p>
  </div><!-- col end div-->
  <div class='col'>
    <div class='progress' role='progressbar' aria-label='Basic example' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>
      <div class='progress-bar' style="width: {{graph_presentation.employer_task_graph}}%">{{graph_presentation.employer_task_graph}}%</div>
    </div>
  </div>


<!-- add task modal section below -->

<!-- button 'new task' clicked and then trigger the modal form -->
<div class='col-sm-auto'>
  <button type='button' class='btn btn-success' data-bs-toggle='modal' data-bs-target='#add_task_modal' data-bs-whatever='@getbootstrap'>Create New</button>
    <div class='modal fade' id='add_task_modal' tabindex='-1' aria-labelledby='add_task_modal_label' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='add_task_modal_label'>New Task</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>


      <!-- form of adding new task --> 
      <div class='modal-body'>

        <form id='add_task_submit_form' method='POST'>

          {% csrf_token %}

          <!-- body of the form fields-->

          <div class='mb-3'>
            <label for='title' class='col-form-label'>Title</label>
              {% render_field add_task_form.title type='text' id='title' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='description' class='col-form-label'>Description</label>
              {% render_field add_task_form.description type='text' id='description' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='additional_description' class='col-form-label'>Additional Description</label>
              {% render_field add_task_form.additional_description type='text' id='additional_description' class='form-control'  %}
          </div>




      </div><!-- end div of the modal-body -->

        <!-- modal footer section -->
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
          <button type='submit' name='submit_new_task' value='submit_new_task' class='btn btn-primary'>Save</button>
        </div>

      </form>


      </div><!-- end of 'modal-content'-->

      </div><!-- end of 'modal-dialog' -->
    </div><!-- 'modal fade' -->

  </div><!-- end of 'col-sm-auto'-->
</div><!-- end of 'row m-4' -->




<!-- the cards TASKS -->


<div class='container'>

    <div class='row row-cols-1 row-cols-md-4 g-4'>

    {% for task in employer_tasks %}
      <div class='col task_col'>
        <div class='card m-1'>

          {% if task.completed %}

            <div class='card-header text-bg-success'>COMPLETED</div>
            <div class='card-body'>

          {% else %}

            <div class='card-header text-bold'>Unfinished</div>
            <div class='card-body'>

              {% endif %}

              <h5 class='card-title'><BOLD class="text-info">Title: </BOLD>{{ task.title }}</h5>
              <p class='card-text'><BOLD class="text-info">Description: </BOLD>{{ task.description }}</p>
              <p class='card-text'><BOLD class="text-info">Additional Description: </BOLD>{{ task.additional_description }}</p>

            </div><!-- end of 'card-body' -->

      <!-- card footer section-->
        <div class='card-footer text-body-secondary'>
          <div class='col-sm-auto' style='margin-top: 15px'>
            <small class='text-body-secondary m-1' >{{ task.created_at }}</small>
              <div class='col-sm-auto' style='margin-top: 15px'>


                  {% csrf_token %}

                    {% if task.completed %}
                      <button  name='task_on_progress_task' class='btn btn-primary task_on_progress_button' member_id='{{task.id}}' id='{{task.id}}'>On Progress</button>
                    {% else %}
                      <button  name='complete_task_form' class='btn btn-primary task_complete_button' member_id='{{task.id}}' id='{{task.id}}'>Complete</button>
                    {% endif %}
                    
                  <button type='submit'  name='task_delete' class='btn btn-danger task_delete_button' member_id='{{task.id}}' id='{{task.id}}'>Delete</button>
                  <a type='button' href="{% url 'edit_task' task.id %}" class='btn btn-secondary task_edit_button' name='task_edit' value='{{task.id}}' >Edit</a>



                <!-- <button type='button' method='POST' name='complete_task_form'  value='{{task.id}}' href='#'  class='btn btn-primary' id='completed'>Complete</button> -->


              </div><!-- end of 'col-sm-auto' -->


            </div><!-- end of 'col-sm-auto' -->

          </div><!-- end of 'card-footer text-body-secondary' -->
          
        </div><!-- end of 'card-body text-success' -->

      </div><!-- end of 'card m-1' -->

    {% endfor %}

    </div><!-- end of 'col' -->

  </div><!-- end of 'row row-cols-1 row-cols-md-4 g-4' -->



<div class="container text-center mt-3">
  <button class="btn btn-secondary load_more_task"  id="">Load More</button>
</div>



</div><!-- end of 'container' -->

</div><!-- end of 'container'style='margin-top:4rem ;' on line 94 -->





<!-- the title of the Leads and LEADS section --> 


<div class='container'style='margin-top:4rem ;'>
<figure class='text-center'>
  <blockquote class='blockquote'>
    <h1>Leads</h1>
  </blockquote>
</figure>


<!-- the add lead modal section-->
<div class='row m-4'>
<!-- lead progression bar title -->
<div class='col-sm-auto'>
    <p>Lead Progression</p>
  </div>

<!-- lead progression bar -->

  <div class='col'>
    <div class='progress' role='progressbar' aria-label='Basic example' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>
      <div class='progress-bar' style="width: {{graph_presentation.lead_graph}}%">{{graph_presentation.lead_graph}}%</div>
    </div>
  </div>

<!-- add lead button section -->
  <div class='col-sm-auto'>

    <button type='button' class='btn btn-success' data-bs-toggle='modal' data-bs-target='#add_lead_modal' data-bs-whatever='@getbootstrap'>Create New</button>
      <div class='modal fade' id='add_lead_modal' tabindex='-1' aria-labelledby='add_lead_modal_label' aria-hidden='true'>
        <div class='modal-dialog'>
          
          <div class='modal-content'>
            <div class='modal-header'>
              <h1 class='modal-title fs-5' id='add_lead_modal_label'>New Lead</h1>
              <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body text-start'>
    
            <!-- form of adding new lead -->
              <form id='add_lead_submit_form' method='POST'>
                {% csrf_token %}
    
                <!-- lead form input fields -->
                <div class='mb-3'>
                  <label for='lead_title' class='col-form-label'>title</label>
                  {% render_field add_lead_form.title type='text' id='lead_title' class='form-control'  %}
                </div>

                <div class='mb-3'>
                  <label for='costumer_name' class='col-form-label'>Costumer Name</label>
                  {% render_field add_lead_form.costumer_name type='text' id='costumer_name' class='form-control'  %}
                </div>

                <div class='mb-3'>
                  <label for='costumer_id' class='col-form-label'>Costumer ID</label>
                  {% render_field add_lead_form.costumer_id type='text' id='costumer_id' class='form-control'  %}
                </div>

                <div class='mb-3'>
                  <label for='lead_description' class='col-form-label'>Description</label>
                  {% render_field add_lead_form.description type='text' id='lead_description' class='form-control'  %}
                </div>

              </div><!-- end of 'modal-body' -->

                <div class='modal-footer'>
                  <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                  <button type='submit' name='submit_new_lead' value='submit_new_lead' class='btn btn-primary'>Save</button>
                </div>

              </form>

          </div><!-- end of 'modal-content' -->

        </div><!-- end of 'modal-dialog' -->

      </div><!-- end of 'modal fade' -->



  </div><!-- end of 'col' -->
</div><!-- end of 'row' -->
</div><!-- end of 'container text-end' -->



 <!-- the container end div-->
 <div class='container'>
    <div class='row row-cols-1 row-cols-md-4 g-4'>
    {% for lead in leads %}
      <div class='col lead_col'>

        <div class='card m-1'>

          {% if lead.completed %}
            <div class='card-header text-bg-success '>COMPLETED</div>
            <div class='card-body'>
          {% else %}
            <div class='card-header'>On Progress</div>
            <div class='card-body'>
          {% endif %}

              <h5 class='card-title'><BOLD class="text-info">Title:</BOLD> {{lead.title}}</h5>
              <p class='card-text'><BOLD class="text-info">Description: </BOLD>{{lead.description}}</p>
              <p class='card-text'><BOLD class="text-info">Costumer Name: </BOLD>{{lead.costumer_name}}</p>
              <p class='card-text'><BOLD class="text-info">Costumer ID:</BOLD> {{lead.costumer_id}}</p>
            </div><!-- end of 'card-body' -->

          <div class='card-footer text-body-secondary'>
            
            <div class='col-sm-auto' style='margin-top: 15px'>
              <small class='text-body-secondary m-1' >{{lead.created_at}}</small>
              <div class='col-sm-auto' style='margin-top: 15px'>
                

                  {% csrf_token %}

                  {% if lead.completed %}
                    <button type='submit' name='lead_on_progress'  class='btn btn-primary lead_on_progress_button' member_id='{{lead.id}}'>On Progress</button>
                    <a type='button' href="{% url 'edit_lead' lead.id %}" class='btn btn-secondary' name='lead_edit' value='{{lead.id}}' >Edit</a>
                  {% else %}
                    <button name='lead_complete' value='{{lead.id}}' member_id='{{lead.id}}' class='btn btn-primary lead_complete_button'>Complete</button>
                    <a type='button' href="{% url 'edit_lead' lead.id %}" class='btn btn-secondary' name='lead_edit' value='{{lead.id}}' >Edit</a>
                  {% endif %}
                  <button name='lead_delete' value='{{lead.id}}' member_id='{{lead.id}}' class='btn btn-danger lead_delete_button'>Delete</button>




              </div><!-- end of 'col-sm-auto' -->

            </div><!-- 'col-sm-auto' -->

          </div><!-- 'card-footer text-body-secondary' -->
          
        </div><!-- end of 'card-body' -->

      </div><!-- end of 'card m-1' -->

    {% endfor %}

  </div><!-- end of 'col' -->

</div><!-- end of row-->

<div class="container text-center mt-3 mb-5">
  <button class="btn btn-secondary load_more_lead"  id="">Load More</button>
</div>

</div><!-- end of 'container' -->
<script src="{% static 'script.js'%}"></script>

</div>
{% endblock content%}
