{% extends 'code/base.html' %} {% block content %} {% load static %}


<div style="margin: 4rem 8rem 4rem">
  <!-- this is the manager one row -->
  <div class="container text-center" style="margin: 5px 5px 10px 5px">
    <div class="row justify-content-md-left">
      <div class="col-md-auto">
        <img
          src="{% static 'dashboard/images/tile002.png'%}"
          class="rounded-5"
          alt="..."
          style="border: 2px solid white; width: 45px"
        />
      </div>
      <div class="col-md-auto">
        <h5>Team manager</h5>
        <p>Adam Jamson</p>
      </div>
    </div>
  </div>
  <!-- this is the workers rows table -->

    <table class="table table-md table-hover border border-info ">
      <thead class="table-dark border-bottom border-secondary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">task id</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th scope="col">View</th>
        </tr>
      </thead>

      <tbody class="table-dark">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button class="btn btn-sm btn-success">view</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><button class="btn btn-sm btn-success">view</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td><button class="btn btn-sm btn-success">view</button></td>
        </tr>
      </tbody>
    </table>
  </div>


<!-- this is my grid test !!!!!!!!-->
<div class="container">
<h4>Insights</h4>
<div class="col">
  <div class="row p-3 m-3 border border-1 rounded-4" style="background: #212529" >
    <div class="col">
      <div class="row">
        <div class="col-auto align-self-center">

          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg></a>

        </div>
        <div class="col">
          <div class="row">Total Graphs</div>
          <div class="row">7</div>
        </div>
      </div>
    </div>

    <div class="col">

      <div class="row">
        <div class="col-auto align-self-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M32 32c17.7 0 32 14.3 32 32V400c0 8.8 7.2 16 16 16H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H80c-44.2 0-80-35.8-80-80V64C0 46.3 14.3 32 32 32zM160 224c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm128-64V320c0 17.7-14.3 32-32 32s-32-14.3-32-32V160c0-17.7 14.3-32 32-32s32 14.3 32 32zm64 32c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V224c0-17.7 14.3-32 32-32zM480 96V320c0 17.7-14.3 32-32 32s-32-14.3-32-32V96c0-17.7 14.3-32 32-32s32 14.3 32 32z"/></svg>        </div>
        <div class="col">
          <div class="row">Graphs Made</div>
          <div class="row">4</div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-auto align-self-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>                    </a>
        </div>
        <div class="col">
          <div class="row">Income in 2024</div>
          <div class="row">245,212</div>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="row">
        <div class="col-auto align-self-center">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
        </div>
        <div class="col">
          <div class="row">Outcome in 2024</div>
          <div class="row">120,212</div>
        </div>
      </div>
    </div>


  </div><!-- pre last row div-->

</div><!-- last col div of the presentation-->
<!-- 
<div class="row-2">Income in 2024</div>
<div class="col-1"></div>

<div class="col-auto">icon</div>
<div class="col-auto">Income in 2024</div>
<div class="col-1"></div>

</div>
<div class="row">
<div class="col-1"></div>
<div class="col-auto">243,220</div>
<div class="col-1"></div>

<div class="col-1"></div>
<div class="col-auto">243,220</div>
<div class="col-1"></div>

<div class="col-1"></div>
<div class="col-auto">243,220</div>
<div class="col-1"></div>
</div>
</div>


</div>the first row -->

{% endblock content %}
