{% extends 'code/base.html' %} {% block content %}
<!-- the html++ bootstrap code here -->
<div class="container text-center"style='width:30rem;padding:4rem'>

      <div class="card">

        <div class="card-header">Featured</div>

        <div class="card-body">

            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit longer.
            </p>
            <div
                class="progress"
                role="progressbar"
                aria-label="Basic example"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
            >

                <div class="progress-bar" style="width: 25%"></div>

            </div><!-- progress bar div-->

        </div><!-- card body div-->

            <!-- FOOTER DIV-->
            <div class="card-footer text-body-secondary">
            <div class="container">
                <div class="row">
                <div class="col-sm-auto" style="">2 days ago</div>
                    <div class="col-sm-auto" style="margin-top: 15px">
                        <a href="#" class="btn btn-primary">done</a>
                        <a href="#" class="btn btn-danger">undone</a>
                    </div>
                </div>
                </div><!-- row end div-->
                </div><!-- container row div-->
            </div><!--card footer div-->
            <!-- FOOTER DIV-->

        </div><!-- card div-->
</div><!--container div-->



<!-- the card group html-->

<div style="margin: 25px 8rem 75px">
  <div class="row row-cols-1 row-cols-md-4 g-5">
      <div class="col">
      <div class="card">
        <div class="card-header">Featured</div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer text-body-secondary">
          <div class="container">
            <div class="row">
              <div class="col-sm-auto" style="">2 days ago</div>

              <div class="col-sm-auto" style="margin-top: 15px">
                <a href="#" class="btn btn-primary">done</a>
                <a href="#" class="btn btn-danger">undone</a>
              </div>

            </div><!-- row end div-->

          </div><!-- footer container end div-->

        </div><!-- card div-->
      </div><!-- column div-->
    </div><!-- END DIV-->

    </div><!-- row end div-->
  </div><!-- padding div end div-->

{% endblock content%}
