{% extends 'code/base.html'%} {% load widget_tweaks %}


<!-- the dashboard title-->
{% block title %}
    <a class="nav-link close_small_navbar 
                    icon-link
                    link-body-emphasis 
                    link-offset-2
                    link-underline" data-bs-toggle='modal' data-bs-target='#graph_modal' data-bs-whatever='@getbootstrap' href="#">Add New Graph</a>

    <a class="nav-link close_small_navbar 
                    icon-link
                    link-body-emphasis 
                    link-offset-2
                    link-underline"
                    data-bs-toggle='modal' data-bs-target='#import_csv_modal' data-bs-whatever='@getbootstrap' href="#"
                    >Import Graph CSV</a>

                    <li class="nav-link
                    link-offset-2
                    close_small_navbar
                    dropdown 
                    link-body-emphasis 
                    link-underline">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Graph Representation</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" href="#">One Rows</a></li>
                        <li><a class="dropdown-item" href="#">Two Rows</a></li>
                        <li><a class="dropdown-item" href="#">Four Rows</a></li>

                      </ul>
                    </li>
                  </form>
{% endblock title %}


{% block content %}
<div class='container p-4 pt-5'>
  <div class='border border-secondary rounded border-1' style="background:#212529;">


<!-- this is the import modal section -->
<div class='col-sm-auto'>
    <div class='modal fade' id='import_csv_modal' tabindex='-1' aria-labelledby='import_csv_modal_label' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='import_csv_modal_label'>New Task</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>

      <!-- form of adding new task --> 
      <div class='modal-body'>

        <form method='POST' enctype="multipart/form-data">

          {% csrf_token %}

          <!-- body of the form fields-->

            {%render_field import_csv_form.csv_file %}


        </div><!-- end div of the modal-body -->

        <!-- modal footer section -->
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" name="import_csv_file" value="import_csv_file">Import</button>
        </div>

      </form>

        </div>

        </div><!-- end of 'modal-content'-->

      </div><!-- end of 'modal-dialog' -->
    </div><!-- 'modal fade' -->

    <div class="m-3">
      <h1>Dashboard</h1>
        <p>This is the dashboard page where you can create to yourself graph represantations out of the bussiness income or outcome data .
          his data is not live and you can click the 'refresh query' button to query the database again.
        </p>
          <a class="position-relative" data-bs-toggle="collapse" data-bs-target="#info_collapse_id" aria-expanded="false" aria-controls="info_collapse_id">
            Limit Information
          </a>

      <div style="min-height: 120px;">
        <div class="collapse collapse" id="info_collapse_id">
          <div class="card card-body w-50">
            Please note that you have limit for graph creation and refresh query amount.
            <BOLD>!if you need more graphs in your page you have to contact your supervisor for more access</BOLD>
          </div>
        </div>
      </div>
    </div>



<!-- this is the insights bar-->



</div>


<!-- THE INSIGHT BAR -->


<div class="container">
  <h4 class="py-3">Insights</h4>
  <div class="col">
    <div class="row p-3  border border-1 rounded-4" style="background: #212529" >
      <div class="col">
        <div class="row">
          <div class="col-auto align-self-center">
  
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg></a>
  
          </div>
          <div class="col">
            <div class="row">Total Graphs</div>
            <div class="row">{{information_insight.max_records}}</div>
          </div>
        </div>
      </div>
  
      <div class="col">
  
        <div class="row">
          <div class="col-auto align-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#ffffff" d="M32 32c17.7 0 32 14.3 32 32V400c0 8.8 7.2 16 16 16H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H80c-44.2 0-80-35.8-80-80V64C0 46.3 14.3 32 32 32zM160 224c17.7 0 32 14.3 32 32v64c0 17.7-14.3 32-32 32s-32-14.3-32-32V256c0-17.7 14.3-32 32-32zm128-64V320c0 17.7-14.3 32-32 32s-32-14.3-32-32V160c0-17.7 14.3-32 32-32s32 14.3 32 32zm64 32c17.7 0 32 14.3 32 32v96c0 17.7-14.3 32-32 32s-32-14.3-32-32V224c0-17.7 14.3-32 32-32zM480 96V320c0 17.7-14.3 32-32 32s-32-14.3-32-32V96c0-17.7 14.3-32 32-32s32 14.3 32 32z"/></svg>        </div>
          <div class="col">
            <div class="row">Graphs Made</div>
            <div class="row">{{information_insight.total_records}}</div>
          </div>
        </div>
      </div>
  
      <!-- here the income loop starts-->
      {% for year,income in information_insight.current_year_income.items %}
      <div class="col">
        <div class="row">
          <div class="col-auto align-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>                    </a>
          </div>
          <div class="col">
            <div class="row">Income in {{year}}</div>
            <div class="row">{{income}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
  
  <!-- here the Outcoe loop starts-->
  {% for year,outcome in information_insight.current_year_spendings.items %}
      <div class="col">
        <div class="row">
          <div class="col-auto align-self-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
          </div>
          <div class="col">
            <div class="row">Outcome in {{year}}</div>
            <div class="row">{{outcome}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
  
  
    </div><!-- pre last row div-->
  
  </div><!-- last col div of the presentation-->

  <!-- END OF THE INSIGHT BAR REPR-->


<!-- THIS IS THE GRAPHS REPRESENTATION OF THE USER -->
<!-- IN THE FUTURE THIS WILL BE CHEKED OR MODIFIED BY THE USER -->


  <!-- this is the space between the top and the graph-->
  <h4 class="pt-5">Graph Representation</h4>

<div class="graph">


<!-- this is the add graph section -->

<div class='col-sm-auto'>
    <div class='modal fade' id='graph_modal' tabindex='-1' aria-labelledby='graph_modal_label' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='graph_modal_label'>New Task</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>

      <!-- form of adding new task --> 
      <div class='modal-body'>

        <form method='POST'>

          {% csrf_token %}

          <!-- body of the form fields-->
          <div class='mb-3'>
            <label for='graph_title' class='col-form-label'>Graph Title</label>
              {% render_field income_form.graph_title type='title' id='graph_title' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='graph_description' class='col-form-label'>Graph Description</label>
              {% render_field income_form.graph_description type='text' id='graph_description' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='date' class='col-form-label'>Start Date</label>
              {% render_field income_form.start_date type='date' id='graph_start_date' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='date' class='col-form-label'>End Date</label>
              {% render_field income_form.end_date type='date' id='graph_end_date' class='form-control'  %}
          </div>

          <div class='col' ><!-- ###-->

          <div class='mb-3'>

          </div> <!-- end of mb-3 class-->
            <div class="mb-3 row">
            <label for="data_option" class="col-sm-auto col-form-label">Choose The Data:</label>
                <div class="col-sm-auto">

                  <select class="form-select selected_data" aria-label="Default select example">
                    <option selected class="select_one" name="select">Select One</option>
                    <option class="income" 
                    value="income" id="choosed_db" name="income">Income</option>
                    <option class="outcome" value="outcome" 
                    id="choosed_db"
                    name="outcome">Outcome</option>
                  </select>

                {% render_field income_form.db type='text' class='form-control-plaintext' id='data_option' %}
            </div>
            </div>

            <div class="row">

              <label for="graph_option" class="col-sm-auto col-form-label">Choose The Graph:</label>
                <div class="col-sm-auto">

            <select class="form-select selected_graph" aria-label="Default select example">
              <option selected class="select" value="select" name="bar_graph">Select One</option>
              <option class="graph_choose" value="bar_graph" name="bar_graph">Bar Graph</option>
              <option class="graph_choose" value="line_graph" name="line_graph">Line Graph</option>
            </select>
              {% render_field income_form.graph type='text' class='form-control-plaintext' id='graph_option'%}
            </div>

          </div>
          </div><!-- end of col div#### -->

      </div><!-- end div of the modal-body -->

        <!-- modal footer section -->
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
          <button type='submit' name='add_graph_data' value='add_graph_data' class='btn btn-primary add_graph_button'>Save</button>
        </div>

      </form>

        </div>
        </div>
        </div><!-- end of 'modal-content'-->
      </div><!-- end of 'modal-dialog' -->
    </div><!-- 'modal fade' -->

<!-- this is the end of add graph section -->



<!-- GRAPH REPRESENTATION -->
</div><!-- this div must be here its a part of the container in the top -->
<div class="cotainer">
<div class="whole_graph row row-cols-1 row-cols-md-4 g-4">

{% for graph in graph_chart%}
<div class="col maina border border-secondary rounded border-1 " style="background:#212529">
<div class="" style="background:#212529">
<!-- <div class="graph m-1 p-3 my-5 border border-secondary rounded border-1" style="background:#212529"> -->


        <h3>{{graph.graph_data.v.graph_title}}</h3>

          <div style="width: 100%; height: 30rem">
          {{ graph.graph_html|safe }}
          </div>

    <div class='text-body-secondary mt-3'>
          <p class=''><BOLD class="text-light-emphasis">Description: </BOLD>{{ graph.graph_data.v.graph_description }}</p>
          <p class=''><BOLD class="text-light-emphasis">Created At </BOLD>{{graph.graph_data.v.created_at}}</p>
      <div class='' style='margin-top: 15px'>
        <small class='text-body-secondary m-1' >{{graph.graph_data.v.date}}</small>
      </div><!-- end of -->

    </div><!-- end of text-body secondery-->

      <form method="POST">
        <button  name='' class='btn btn-secondary' member_id='' id=''>Refresh Query</button>
        {% csrf_token %}
        {% render_field delete_graph_form.graph_id value=graph.graph_data.k %}
        <button type='button' class='btn btn-secondary text-uppercase' data-bs-toggle='modal' data-bs-target='#graph_edit_modal_{{graph.graph_data.k}}' data-bs-whatever='@getbootstrap'> Edit Graph </button>
        <button type='submit' class='btn btn-secondary text-uppercase' name='export_csv'value='export_csv'> Export CSV </button>
         <button type='button' class='btn btn-secondary text-uppercase' data-bs-toggle='modal' data-bs-target='#change_position_modal_{{graph.graph_data.k}}' data-bs-whatever='@getbootstrap'>Change Position</button>
         <button type='button' class='btn btn-secondary text-uppercase' data-bs-toggle='modal' data-bs-target='#graph_compare_modal_{{graph.graph_data.k}}' data-bs-whatever='@getbootstrap'>Compare Graph</button>
        <button type='submit'  name='remove_graph' class='btn btn-danger' value='remove_graph'>Remove Graph</button>

      </form>


        <!-- THIS IS THE MODAL SECTION THAT HAVE THE CONTROL OVER THE EDIT BUTTON -->


          <div class=''>
              <div class='modal' id='graph_edit_modal_{{graph.graph_data.k}}' tabindex='-1' aria-labelledby='graph_edit_modal_label' aria-hidden='true'>
                <div class='modal-dialog'>
                  <div class='modal-content'>
                    <div class='modal-header'>
                      <h1 class='modal-title fs-5' id='graph_edit_modal_label'>edit graph</h1>
                      <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>

                <!-- form of adding new task --> 
                <div class='modal-body'>

                  <form method='POST' class="edit-graph-form" data-form-id="{{graph.graph_data.k}}">

                    {% csrf_token %}

                    <!-- body of the form fields-->

                    <!-- graph title -->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Graph Title</label>
                        {% render_field edit_graph_form.graph_title type='title' id=graph.graph_data.k class='form-control' value=graph.graph_data.v.graph_title %}
                    </div>
                    <!-- end of graph title -->

                    <!-- graph description-->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Graph Description</label>
                        {% render_field edit_graph_form.graph_description type='text' id='graph_description_{{graph.graph_data.k}}' class='form-control' value=graph.graph_data.v.graph_description %}
                    </div>
                    <!-- end of graph description-->

                    <!-- start of start_date-->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Start Date</label>
                      <p>previous date was : {{graph.graph_data.v.x|last}}</p>
                        {% render_field edit_graph_form.start_date type='date' value=graph.graph_data.v.start_date id='graph_date_{{graph.graph_data.k}}' class='form-control'%}
                    </div>
                    <!-- end of start_date div -->

                    <!-- start of the end_date div-->
                      <div class='mb-3'>
                        <label for='graph_title' class='col-form-label'>End Date</label>
                        <p>previous date was : {{graph.graph_data.v.x|first}}</p>
                        {% render_field edit_graph_form.end_date type='date' id='graph_date_{{graph.graph_data.k}}' value=graph.graph_data.v.end_date class='form-control'%}
                    </div>
                    <!-- end of the end_date div-->

                    <!-- test of the options section-->
                  <div class="mb-3 row">
                  <label for="data_option" class="col-sm-auto col-form-label">Choose The Graph:</label>
                    <div class="col-sm-auto">
                      {% comment %} <select class="form-select selected_edit_graph" aria-label="Default select example">
                        <option selected class="select" value="select" name="bar_graph">Select One</option>
                        <option class="graph_choose" value="bar_graph" name="bar_graph">Bar Graph</option>
                        <option class="graph_choose" value="line_graph" name="line_graph">Line Graph</option>
                      </select> {% endcomment %}
                        {% render_field edit_graph_form.graph type='text' class='form-control-plaintext' id='graph_edit_option'%}
                      </div>
                    </div> 
                      
                    <!-- test of the options section-->

                    <!-- edit database div -->
                      <div class="mb-3 row">
                      <label for="data_option" class="col-sm-auto col-form-label">Choose The Data:</label>
                          <div class="col-sm-auto">
                            {% comment %} <select class="form-select selected_edit_data" aria-label="Default select example">
                              <option selected class="select_one" name="select">Select One</option>
                              <option class="income" 
                                value="income" id="choosed_db" name="income">Income</option>
                              <option class="outcome" value="outcome" 
                                id="choosed_db"
                                name="outcome">Outcome</option>
                              </select> {% endcomment %}

                            {% render_field edit_graph_form.db type='text' class='form-control-plaintext' id='data_edit_option' %}
                          </div>
                      </div><!-- end of the database div--> 


                <!-- test test test test test -->

                {% render_field edit_graph_form.graph_id type='text' value=graph.graph_data.k %}
                {% render_field edit_graph_form.graph_position type='text' value=graph.graph_data.v.position %}

                <!-- test test test test test -->

                </div><!-- end div of the modal-body -->

                

                  <!-- modal footer section -->
                  <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                    <button type='submit' name='edit_graph_data' value='edit_graph_data' class='btn btn-primary edit_graph_button'>Save</button>
                  </div>


                  </div>
                </form>
              </div><!-- end of 'modal-content'-->

            </div><!-- end of graph div-->

        </div>
      </div>

          <!-- this is the compare graph position modal-->

          <div class=''>
              <div class='modal' id='graph_compare_modal_{{graph.graph_data.k}}' tabindex='-1' aria-labelledby='graph_compare_modal_label' aria-hidden='true'>
                <div class='modal-dialog'>
                  <div class='modal-content'>
                    <div class='modal-header'>
                      <h1 class='modal-title fs-5' id='graph_compare_modal_label'>Compare Graph</h1>
                      <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>

                <!-- form of adding new task --> 
                <div class='modal-body'>

                  <form method='POST' class="compare-graph-form" data-form-id="{{graph.graph_data.k}}">

                    {% csrf_token %}

                    <!-- body of the form fields-->

                    <!-- graph title -->
                    <div class='mb-3'>
 
                        {% render_field compare_graph_form.graph_title type='title' id=graph.graph_data.k class='form-control' value=graph.graph_data.v.graph_title %}
                    </div>
                    <!-- end of graph title -->

                    <!-- graph description-->
                    <div class='mb-3'>

                        {% render_field compare_graph_form.graph_description type='text' id='graph_description_{{graph.graph_data.k}}' class='form-control' value=graph.graph_data.v.graph_description %}
                    </div>
                    <!-- end of graph description-->

                    <!-- start of start_date-->
                    <div class='mb-3'>


                        {% render_field compare_graph_form.start_date type='date' value=graph.graph_data.v.start_date id='graph_date_{{graph.graph_data.k}}' class='form-control'%}
                    </div>
                    <!-- end of start_date div -->

                    <!-- start of the end_date div-->
                      <div class='mb-3'>


                        {% render_field compare_graph_form.end_date type='date' id='graph_date_{{graph.graph_data.k}}' value=graph.graph_data.v.end_date class='form-control'%}
                    </div>
                    <!-- end of the end_date div-->

                    <!-- test of the options section-->
                  <div class="mb-3 row">
                  <label for="data_option" class="col-sm-auto col-form-label">Choose The Graph:</label>
                    <div class="col-sm-auto">
                        {% render_field compare_graph_form.graph type='text' class='form-control-plaintext' id='graph_edit_option'%}
                      </div>
                    </div> 
                      
                    <!-- test of the options section-->

                    <!-- edit database div -->
                      {% comment %} <div class="mb-3 row">
                      <label for="data_option" class="col-sm-auto col-form-label">Choose The Data:</label>
                          <div class="col-sm-auto">

                            {% render_field compare_graph_form.db type='text' class='form-control-plaintext' id='data_edit_option' %}
                          </div>
                      </div><!-- end of the database div-->  {% endcomment %}


                {% render_field compare_graph_form.graph_id type='text' value=graph.graph_data.k %}
                {% render_field compare_graph_form.graph_position type='text' value=graph.graph_data.v.position %}
              
              
              <div class='mb-3'>
                <label for="position" class="col-sm-auto col-form-label">Choose the position of the graph</label>
                {% render_field compare_graph_form.dst_position type='text' %}
              </div>

                <!-- test test test test test -->

                </div><!-- end div of the modal-body -->

                  <!-- modal footer section -->
                  <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                    <button type='submit' name='compare_graph_data' value='compare_graph_data' class='btn btn-primary compare_graph_button'>Save</button>
                  </div>


                  </div>
                </form>
              </div>
              </div>




          <!-- this is the change position modal section-->
          <div class='col-sm-auto'>
              <div class='modal' id='change_position_modal_{{graph.graph_data.k}}' tabindex='-1' aria-labelledby='change_position_modal_label' aria-hidden='true'>
                <div class='modal-dialog'>
                  <div class='modal-content'>
                    <div class='modal-header'>
                      <h1 class='modal-title fs-5' id='change_position_modal_label'>edit graph</h1>
                      <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>

                <!-- form of adding new task --> 
                <div class='modal-body'>

                  <form method='POST' class="change-position-form" data-form-id="{{graph.graph_data.k}}">

                    {% csrf_token %}

                    <!-- body of the form fields-->

                    <!-- graph src id -->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Graph current Position</label>
                        <p>{{ graph.graph_data.v.position }}</p>
                        {% render_field change_position_form.src_graph_id type='title' id=graph.graph_data.k class='form-control' value=graph.graph_data.k %}
                    </div>
                    <!-- end of graph title -->

                    <!-- graph new position-->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>New Position</label>
                        {% render_field change_position_form.dst_graph_id type='title' id=graph.graph_data.k class='form-control'%}
                    </div>

                <!-- test test test test test -->


                <!-- test test test test test -->

                </div><!-- end div of the modal-body -->

                

                  <!-- modal footer section -->
                  <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                    <button type='submit' name='change_position_graph' value='change_position_graph' class='btn btn-primary '>Save</button>
                  </div>


                  </div>
                </form>
              </div><!-- end of 'modal-content'-->


<!--#################################################################################################-->
                                      <!-- TEST TEST TEST-->
<!--#################################################################################################-->
</div><!-- this is the full graph position-->
</div>
</div>

</div>
    {% endfor %}
  </div><!-- end of the whole_graph div-->





</div><!-- end of 'container' -->

</div>



{% endblock %}