{% extends 'code/base.html'%} {% load widget_tweaks %}
<!-- the dashboard title-->


{% block title %}
    <a class="nav-link close_small_navbar 
                    icon-link
                    link-body-emphasis 
                    link-offset-2
                    link-underline" data-bs-toggle='modal' data-bs-target='#graph_modal' data-bs-whatever='@getbootstrap' href="#">Add New Graph</a>

    <a class="nav-link close_small_navbar 
                    icon-link
                    link-body-emphasis 
                    link-offset-2
                    link-underline"
                    data-bs-toggle='modal' data-bs-target='#import_csv_modal' data-bs-whatever='@getbootstrap' href="#"
                    >Import Graph CSV</a>
                    </form>

{% endblock title %}

{% block content %}
<div class='container p-4 pt-5'>
  <div class='border border-secondary rounded border-1' style="background:#212529;">









<!-- this is the import modal section -->
<div class='col-sm-auto'>
    <div class='modal fade' id='import_csv_modal' tabindex='-1' aria-labelledby='import_csv_modal_label' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='import_csv_modal_label'>New Task</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>

      <!-- form of adding new task --> 
      <div class='modal-body'>

        <form method='POST' enctype="multipart/form-data">

          {% csrf_token %}

          <!-- body of the form fields-->

            {%render_field import_csv_form.csv_file %}


        </div><!-- end div of the modal-body -->

        <!-- modal footer section -->
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="submit" name="import_csv_file" value="import_csv_file">Import</button>
        </div>

      </form>

        </div>

        </div><!-- end of 'modal-content'-->

      </div><!-- end of 'modal-dialog' -->
    </div><!-- 'modal fade' -->
{% comment %} <QueryDict: {'csrfmiddlewaretoken': ['ijpS2e1g1c8BqqBk5DpIp5OOgWeXFBUBpf9ZvJD5z3824w8uHqjebqaBx1AoXNtj'], '
graph_title': ['Graph'],
 'graph_description': ['No Description'], 
'start_date': ['2023-11-01'],
 'end_date': ['2024-11-01'], 'db': ['income'],
 'graph': ['bar_graph'],
  'add_graph_data': ['add_graph_data']}> {% endcomment %}
<form method="POST">
 <div hidden>
 {% csrf_token %}
              {% render_field income_form.graph_title type='title' id='graph_title' class='form-control'  %}
              {% render_field income_form.graph_description type='text' id='graph_description' class='form-control'  %}
              {% render_field income_form.start_date type='date' id='graph_start_date' class='form-control' value='2023-11-01'%}
              {% render_field income_form.end_date type='date' id='graph_end_date' class='form-control' value='2024-11-01' %}
              {% render_field income_form.db type='text' class='form-control-plaintext' id='data_option' value='income'%}
              {% render_field income_form.graph type='text' class='form-control-plaintext' id='graph_option' value='bar_graph'%}
      </div>   
<button type='submit' name='add_graph_data' value='add_graph_data' class='btn btn-primary'>1 year</button>
</form> 

<form method="POST">

 {% csrf_token %}
<button type='submit' name='delete_all_records' value='delete_all_records' class='btn btn-danger'>delete_all_records</button>
</form> 

 <form method="POST">
 <div hidden>
 {% csrf_token %}
              {% render_field income_form.graph_title type='title' id='graph_title' class='form-control'  %}
              {% render_field income_form.graph_description type='text' id='graph_description' class='form-control'  %}
              {% render_field income_form.start_date type='date' id='graph_start_date' class='form-control' value='2023-11-01'%}
              {% render_field income_form.end_date type='date' id='graph_end_date' class='form-control' value='2023-11-30' %}
              {% render_field income_form.db type='text' class='form-control-plaintext' id='data_option' value='income'%}
              {% render_field income_form.graph type='text' class='form-control-plaintext' id='graph_option' value='bar_graph'%}
      </div>   
<button type='submit' name='add_graph_data' value='add_graph_data' class='btn btn-primary'>1 month</button>
</form> 


    <div class="m-3">
      <h1>Dashboard</h1>
        <p>This is the dashboard page where you can create to yourself graph represantations out of the bussiness income or outcome data .
          his data is not live and you can click the 'refresh query' button to query the database again.
        </p>
          <a class="position-relative" data-bs-toggle="collapse" data-bs-target="#info_collapse_id" aria-expanded="false" aria-controls="info_collapse_id">
            Limit Information
          </a>

      <div style="min-height: 120px;">
        <div class="collapse collapse" id="info_collapse_id">
          <div class="card card-body w-50">
            Please note that you have limit for graph creation and refresh query amount.
            <BOLD>!if you need more graphs in your page you have to contact your supervisor for more access</BOLD>
          </div>
        </div>
      </div>
    </div>
</div>





<!-- THIS IS THE GRAPHS REPRESENTATION OF THE USER -->
<!-- IN THE FUTURE THIS WILL BE CHEKED OR MODIFIED BY THE USER -->







  <!-- this is the space between the top and the graph-->

<div class="graph" style="margin-bottom:100px">

<div class='col-sm-auto'>
    <div class='modal fade' id='graph_modal' tabindex='-1' aria-labelledby='graph_modal_label' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='graph_modal_label'>New Task</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>

      <!-- form of adding new task --> 
      <div class='modal-body'>

        <form method='POST'>

          {% csrf_token %}

          <!-- body of the form fields-->
          <div class='mb-3'>
            <label for='graph_title' class='col-form-label'>Graph Title</label>
              {% render_field income_form.graph_title type='title' id='graph_title' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='graph_description' class='col-form-label'>Graph Description</label>
              {% render_field income_form.graph_description type='text' id='graph_description' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='date' class='col-form-label'>Start Date</label>
              {% render_field income_form.start_date type='date' id='graph_start_date' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='date' class='col-form-label'>End Date</label>
              {% render_field income_form.end_date type='date' id='graph_end_date' class='form-control'  %}
          </div>

          <div class='col' ><!-- ###-->

          <div class='mb-3'>

          </div> <!-- end of mb-3 class-->
            <div class="mb-3 row">
            <label for="data_option" class="col-sm-auto col-form-label">Choose The Data:</label>
                <div class="col-sm-auto">

                  <select class="form-select selected_data" aria-label="Default select example">
                    <option selected class="select_one" name="select">Select One</option>
                    <option class="income" 
                    value="income" id="choosed_db" name="income">Income</option>
                    <option class="outcome" value="outcome" 
                    id="choosed_db"
                    name="outcome">Outcome</option>
                  </select>

                {% render_field income_form.db type='text' class='form-control-plaintext' id='data_option' %}
            </div>
            </div>

            <div class="row">

              <label for="graph_option" class="col-sm-auto col-form-label">Choose The Graph:</label>
                <div class="col-sm-auto">

            <select class="form-select selected_graph" aria-label="Default select example">
              <option selected class="select" value="select" name="bar_graph">Select One</option>
              <option class="graph_choose" value="bar_graph" name="bar_graph">Bar Graph</option>
              <option class="graph_choose" value="line_graph" name="line_graph">Line Graph</option>
            </select>
              {% render_field income_form.graph type='text' class='form-control-plaintext' id='graph_option'%}
            </div>

          </div>
          </div><!-- end of col div#### -->

      </div><!-- end div of the modal-body -->

        <!-- modal footer section -->
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
          <button type='submit' name='add_graph_data' value='add_graph_data' class='btn btn-primary add_graph_button'>Save</button>
        </div>

      </form>

        </div>

        </div><!-- end of 'modal-content'-->

      </div><!-- end of 'modal-dialog' -->
    </div><!-- 'modal fade' -->


{% for graph in graph_chart%}
  </div>

        <div class="graph m-2 p-3 my-5 border border-secondary rounded border-1" style="background:#212529">


        <h3>{{graph.graph_data.v.graph_title}}</h3>

          <div style="width: 100%; height: 30rem">
          {{ graph.graph_html|safe }}
          </div>

    <div class='text-body-secondary mt-3'>
          <p class=''><BOLD class="text-light-emphasis">Description: </BOLD>{{ graph.graph_data.v.graph_description }}</p>
          <p class=''><BOLD class="text-light-emphasis">Created At </BOLD>{{graph.graph_data.v.created_at}}</p>
      <div class='' style='margin-top: 15px'>
        <small class='text-body-secondary m-1' >{{graph.graph_data.v.date}}</small>
      </div><!-- end of -->

    </div><!-- end of text-body secondery-->

      <form method="POST">
        <button  name='' class='btn btn-secondary' member_id='' id=''>Refresh Query</button>
        {% csrf_token %}
        <button type='submit'  name='remove_graph' class='btn btn-danger' value='remove_graph'>Remove Graph</button>
        {% render_field delete_graph_form.graph_id value=graph.graph_data.k %}
        <button type='button' class='btn btn-success text-uppercase' data-bs-toggle='modal' data-bs-target='#graph_edit_modal_{{graph.graph_data.k}}' data-bs-whatever='@getbootstrap'> Edit Graph </button>
        <button type='submit' class='btn btn-success text-uppercase' name='export_csv'value='export_csv'> Export CSV </button>
         <button type='button' class='btn btn-success text-uppercase' data-bs-toggle='modal' data-bs-target='#change_position_modal_{{graph.graph_data.k}}' data-bs-whatever='@getbootstrap'>Change Position</button>

      </form>



        <!-- THIS IS THE MODAL SECTION THAT HAVE THE CONTROL OVER THE EDIT BUTTON -->


          <div class='col-sm-auto'>
              <div class='modal' id='graph_edit_modal_{{graph.graph_data.k}}' tabindex='-1' aria-labelledby='graph_edit_modal_label' aria-hidden='true'>
                <div class='modal-dialog'>
                  <div class='modal-content'>
                    <div class='modal-header'>
                      <h1 class='modal-title fs-5' id='graph_edit_modal_label'>edit graph</h1>
                      <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>

                <!-- form of adding new task --> 
                <div class='modal-body'>

                  <form method='POST' class="edit-graph-form" data-form-id="{{graph.graph_data.k}}">

                    {% csrf_token %}

                    <!-- body of the form fields-->

                    <!-- graph title -->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Graph Title</label>
                        {% render_field edit_graph_form.graph_title type='title' id=graph.graph_data.k class='form-control' value=graph.graph_data.v.graph_title %}
                    </div>
                    <!-- end of graph title -->

                    <!-- graph description-->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Graph Description</label>
                        {% render_field edit_graph_form.graph_description type='text' id='graph_description_{{graph.graph_data.k}}' class='form-control' value=graph.graph_data.v.graph_description %}
                    </div>
                    <!-- end of graph description-->

                    <!-- start of start_date-->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Start Date</label>
                      <p>previous date was : {{graph.graph_data.v.x|last}}</p>
                        {% render_field edit_graph_form.start_date type='date' value=graph.graph_data.v.start_date id='graph_date_{{graph.graph_data.k}}' class='form-control'%}
                    </div>
                    <!-- end of start_date div -->

                    <!-- start of the end_date div-->
                      <div class='mb-3'>
                        <label for='graph_title' class='col-form-label'>End Date</label>
                        <p>previous date was : {{graph.graph_data.v.x|first}}</p>
                        {% render_field edit_graph_form.end_date type='date' id='graph_date_{{graph.graph_data.k}}' value=graph.graph_data.v.end_date class='form-control'%}
                    </div>
                    <!-- end of the end_date div-->

                    <!-- test of the options section-->
                  <div class="mb-3 row">
                  <label for="data_option" class="col-sm-auto col-form-label">Choose The Graph:</label>
                    <div class="col-sm-auto">
                      {% comment %} <select class="form-select selected_edit_graph" aria-label="Default select example">
                        <option selected class="select" value="select" name="bar_graph">Select One</option>
                        <option class="graph_choose" value="bar_graph" name="bar_graph">Bar Graph</option>
                        <option class="graph_choose" value="line_graph" name="line_graph">Line Graph</option>
                      </select> {% endcomment %}
                        {% render_field edit_graph_form.graph type='text' class='form-control-plaintext' id='graph_edit_option'%}
                      </div>
                    </div> 
                      
                    <!-- test of the options section-->

                    <!-- edit database div -->
                      <div class="mb-3 row">
                      <label for="data_option" class="col-sm-auto col-form-label">Choose The Data:</label>
                          <div class="col-sm-auto">
                            {% comment %} <select class="form-select selected_edit_data" aria-label="Default select example">
                              <option selected class="select_one" name="select">Select One</option>
                              <option class="income" 
                                value="income" id="choosed_db" name="income">Income</option>
                              <option class="outcome" value="outcome" 
                                id="choosed_db"
                                name="outcome">Outcome</option>
                              </select> {% endcomment %}

                            {% render_field edit_graph_form.db type='text' class='form-control-plaintext' id='data_edit_option' %}
                          </div>
                      </div><!-- end of the database div--> 


                <!-- test test test test test -->

                {% render_field edit_graph_form.graph_id type='text' value=graph.graph_data.k %}
                {% render_field edit_graph_form.graph_position type='text' value=graph.graph_data.v.position %}

                <!-- test test test test test -->

                </div><!-- end div of the modal-body -->

                

                  <!-- modal footer section -->
                  <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                    <button type='submit' name='edit_graph_data' value='edit_graph_data' class='btn btn-primary edit_graph_button'>Save</button>
                  </div>


                  </div>
                </form>
              </div><!-- end of 'modal-content'-->

            </div><!-- end of graph div-->

        </div>
      </div>


          <div class='col-sm-auto'>
              <div class='modal' id='change_position_modal_{{graph.graph_data.k}}' tabindex='-1' aria-labelledby='change_position_modal_label' aria-hidden='true'>
                <div class='modal-dialog'>
                  <div class='modal-content'>
                    <div class='modal-header'>
                      <h1 class='modal-title fs-5' id='change_position_modal_label'>edit graph</h1>
                      <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                    </div>

                <!-- form of adding new task --> 
                <div class='modal-body'>

                  <form method='POST' class="change-position-form" data-form-id="{{graph.graph_data.k}}">

                    {% csrf_token %}

                    <!-- body of the form fields-->

                    <!-- graph src id -->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>Graph current Position</label>
                        <p>{{ graph.graph_data.v.position }}</p>
                        {% render_field change_position_form.src_graph_id type='title' id=graph.graph_data.k class='form-control' value=graph.graph_data.k %}
                    </div>
                    <!-- end of graph title -->

                    <!-- graph new position-->
                    <div class='mb-3'>
                      <label for='graph_title' class='col-form-label'>New Position</label>
                        {% render_field change_position_form.dst_graph_id type='title' id=graph.graph_data.k class='form-control'%}
                    </div>

                <!-- test test test test test -->


                <!-- test test test test test -->

                </div><!-- end div of the modal-body -->

                

                  <!-- modal footer section -->
                  <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
                    <button type='submit' name='change_position_graph' value='change_position_graph' class='btn btn-primary '>Save</button>
                  </div>


                  </div>
                </form>
              </div><!-- end of 'modal-content'-->


<!--#################################################################################################-->
                                      <!-- TEST TEST TEST-->
<!--#################################################################################################-->
    {% endfor %}






</div><!-- end of 'container' -->

</div>



































{% comment %} 



<div class="container m-5">

  <div class="col">

    <div class="row mb-5"> 

      <figure class="mb-5">
      <blockquote class="blockquote">
        <h2>company income</h2>
      </blockquote>
      <figcaption class="blockquote-footer">
        Calculated by sales leads.
      </figcaption>
    </figure>
    
  <!-- dashboard graphs-->
         {{ graph_chart|safe }}


  </div><!-- end of row div-->




<div class="row mb-5">

  <figure class="mb-5">

  <blockquote class="blockquote ">
    <h3>Stock Value</h3>
  </blockquote>
  <figcaption class="blockquote-footer">
        computed the company's price-to-earnings (P/E) ratio.
  </figcaption>
  </figure>


        {{ pie_chart|safe }}

</div><!-- end of row div-->




</div><!-- END OF COL DIV-->





</div><!-- {% endcomment %}
{% endblock content %}

