{% extends 'code/base.html'%} {% load widget_tweaks %}{% block content %}
<!-- the dashboard title-->


<div class='container'>
  <div class="alert alert-info">FOR NOW THIS PAGE ISNT FUNCTIONAL AND ONLY FOR OVERVIEW</div>
  <div class="graph" style="margin-bottom:600px">

<div class='col-sm-auto'>
  <button type='button' class='btn btn-success text-uppercase"' data-bs-toggle='modal' data-bs-target='#graph_modal' data-bs-whatever='@getbootstrap'> add new graph </button>
    <div class='modal fade' id='graph_modal' tabindex='-1' aria-labelledby='graph_modal_label' aria-hidden='true'>
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h1 class='modal-title fs-5' id='graph_modal_label'>New Task</h1>
            <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
          </div>

      <!-- form of adding new task --> 
      <div class='modal-body'>

        <form method='POST'>

          {% csrf_token %}

          <!-- body of the form fields-->

          <div class='mb-3'>
            <label for='date' class='col-form-label'>Start Date</label>
              {% render_field income_form.start_date type='date' id='graph_start_date' class='form-control'  %}
          </div>

          <div class='mb-3'>
            <label for='date' class='col-form-label'>End Date</label>
              {% render_field income_form.end_date type='date' id='graph_end_date' class='form-control'  %}
          </div>

          <div class='col' ><!-- ###-->

          <div class='mb-3'>

          </div> <!-- end of mb-3 class-->
            <div class="mb-3 row">
            <label for="data_option" class="col-sm-auto col-form-label">Choose The Data:</label>
                <div class="col-sm-auto">

                  <select class="form-select selected_data" aria-label="Default select example">
                    <option selected class="select_one" name="select">Select One</option>
                    <option class="income" 
                    value="income" id="choosed_db" name="income">Income</option>
                    <option class="outcome" value="outcome" 
                    id="choosed_db"
                    name="outcome">Outcome</option>
                  </select>

                {% render_field income_form.db type='text' class='form-control-plaintext' id='data_option' %}
            </div>
            </div>

            <div class="row">

              <label for="graph_option" class="col-sm-auto col-form-label">Choose The Graph:</label>
                <div class="col-sm-auto">

            <select class="form-select selected_graph" aria-label="Default select example">
              <option selected class="select" value="select" name="bar_graph">Select One</option>
              <option class="graph_choose" value="bar_graph" name="bar_graph">Bar Graph</option>
              <option class="graph_choose" value="line_graph" name="line_graph">Line Graph</option>
            </select>
              {% render_field income_form.graph type='text' class='form-control-plaintext' id='graph_option'%}
            </div>

          </div>
          </div><!-- end of col div#### -->

      </div><!-- end div of the modal-body -->

        <!-- modal footer section -->
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Close</button>
          <button type='submit' name='add_graph_data' value='add_graph_data' class='btn btn-primary add_graph_button'>Save</button>
        </div>

      </form>

        </div>

        </div><!-- end of 'modal-content'-->

      </div><!-- end of 'modal-dialog' -->
    </div><!-- 'modal fade' -->


<h2>{{data.amount__sum}}</h2>




















{% for graph in graph_chart%}
  </div>

        <div class="graph m-2 p-3 border border-secondary rounded border-3">

        <p>{{ graph.graph_data.v }}</p>
        <h3>Graph</h3>

          <div style="width: 100%; height: 30rem">
          {{ graph.graph_html|safe }}
          </div>

    <div class='text-body-secondary mt-3'>
          <h5 class=''><BOLD class="text-light-emphasis">Title: </BOLD>{{graph.graph_data.v.graph_type}}</h5>
          <p class=''><BOLD class="text-light-emphasis">Description: </BOLD>{{ graph.graph_data.v.graph_type }}</p>
          <p class=''><BOLD class="text-light-emphasis">Additional Description: </BOLD>record number: {{graph.graph_data.k}}</p>
      <div class='' style='margin-top: 15px'>
        <small class='text-body-secondary m-1' >{{graph.graph_data.v.date}}</small>
      </div><!-- end of -->

    </div><!-- end of text-body secondery-->

        <form method="POST">
        {% csrf_token %}
        <button  name='' class='btn btn-secondary' member_id='' id=''>Refresh Query</button>
        </form>
        <button  name='' class='btn btn-secondary ' member_id='' id=''>Edit Graph</button>
        <button type='button'  name='' class='btn btn-danger' member_id='' id=''>Remove Graph</button>

{% endfor %}

</div><!-- end of graph div-->

</div>
{% comment %} 



        <div class="graph m-2 p-3 border border-secondary rounded border-3">


        <h3>Graph</h3>

          <div style="width: 100%; height: 30rem">
          {{ line_chart|safe }}
          </div>

    <div class='text-body-secondary mt-3'>
          <h5 class=''><BOLD class="text-light-emphasis">Title: </BOLD>tete</h5>
          <p class=''><BOLD class="text-light-emphasis">Description: </BOLD>tetetete</p>
          <p class=''><BOLD class="text-light-emphasis">Additional Description: </BOLD>sasasa</p>
      <div class='' style='margin-top: 15px'>
        <small class='text-body-secondary m-1' >10.00.00</small>
      </div><!-- end of -->

    </div><!-- end of text-body secondery-->

        <button  name='' class='btn btn-secondary' member_id='' id=''>Refresh Query</button>
        <button  name='' class='btn btn-secondary ' member_id='' id=''>Edit Graph</button>
        <button type='button'  name='' class='btn btn-danger' member_id='' id=''>Remove Graph</button>



</div>
 <div class="graph m-2 p-3 border border-secondary rounded border-3">


        <h3>Graph</h3>

          <div style="width: 100%; height: 30rem">
          {{ pie_chart|safe }}
          </div>

    <div class='text-body-secondary mt-3'>
          <h5 class=''><BOLD class="text-light-emphasis">Title: </BOLD>tete</h5>
          <p class=''><BOLD class="text-light-emphasis">Description: </BOLD>tetetete</p>
          <p class=''><BOLD class="text-light-emphasis">Additional Description: </BOLD>sasasa</p>
      <div class='' style='margin-top: 15px'>
        <small class='text-body-secondary m-1' >10.00.00</small>
      </div><!-- end of -->

    </div><!-- end of text-body secondery-->

        <button  name='' class='btn btn-secondary' member_id='' id=''>Refresh Query</button>
        <button  name='' class='btn btn-secondary ' member_id='' id=''>Edit Graph</button>
        <button type='button'  name='' class='btn btn-danger' member_id='' id=''>Remove Graph</button>

</div>

 <div class="graph m-2 p-3 border border-secondary bg-dark rounded border-3">


        <h3>Graph</h3>

          <div style="width: 100%; height: 30rem">
          {{ line_2_chart|safe }}
          </div>

    <div class='text-body-secondary mt-3'>
          <h5 class=''><BOLD class="text-light-emphasis">Title: </BOLD>tete</h5>
          <p class=''><BOLD class="text-light-emphasis">Description: </BOLD>tetetete</p>
          <p class=''><BOLD class="text-light-emphasis">Additional Description: </BOLD>sasasa</p>
      <div class='' style='margin-top: 15px'>
        <small class='text-body-secondary m-1' >10.00.00</small>
      </div><!-- end of -->

    </div><!-- end of text-body secondery-->

        <button  name='' class='btn btn-secondary' member_id='' id=''>Refresh Query</button>
        <button  name='' class='btn btn-secondary ' member_id='' id=''>Edit Graph</button>
        <button type='button'  name='' class='btn btn-danger' member_id='' id=''>Remove Graph</button>

</div> {% endcomment %}



</div><!-- end of 'container' -->



































{% comment %} 



<div class="container m-5">

  <div class="col">

    <div class="row mb-5"> 

      <figure class="mb-5">
      <blockquote class="blockquote">
        <h2>company income</h2>
      </blockquote>
      <figcaption class="blockquote-footer">
        Calculated by sales leads.
      </figcaption>
    </figure>
    
  <!-- dashboard graphs-->
         {{ graph_chart|safe }}


  </div><!-- end of row div-->




<div class="row mb-5">

  <figure class="mb-5">

  <blockquote class="blockquote ">
    <h3>Stock Value</h3>
  </blockquote>
  <figcaption class="blockquote-footer">
        computed the company's price-to-earnings (P/E) ratio.
  </figcaption>
  </figure>


        {{ pie_chart|safe }}

</div><!-- end of row div-->




</div><!-- END OF COL DIV-->





</div><!-- {% endcomment %}
{% endblock content %}